# Created by .ignore support plugin (hsz.mobi)
/.idea/
/MyPractice.iml
target/
/.idea/.name
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/kotlinc.xml
/.idea/uiDesigner.xml
/.idea/encodings.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
/.idea/libraries/Maven__junit_junit_4_10.xml
